.col-lg-3.col-sm-3
  .panel.panel-danger
    .panel-heading
      Intake PGX
    .panel-body
      .text-center
        = link_to raw('<i class="fa fa-flask fa-5x"></i>'), intake_pgx_path

.col-lg-3.col-sm-3
  .panel.panel-info
    .panel-heading
      Intake Tox
    .panel-body
      .text-center
        = link_to raw('<i class="fa fa-flask fa-5x"></i>'), intake_tox_path
