- if ['receiving', 'rejects'].include? params[:controller]
  - css_class = 'waves-effect active'
- else
  - css_class = 'waves-effect'


%li{:class => css_class}
  = link_to 'Receiving', root_path, class: css_class
  %ul.nav.nav-second-level
    %li
      %a{:href => intake_path,  :class => "#{'active' if params[:controller] == 'receiving'}"}
        %span.hide-menu Intake Sample
    %li
      %a{:href => rejects_path,  :class => "#{'active' if params[:controller] == 'rejects'}"}
        %span.hide-menu Rejects